.mainNavbar {
	display: grid;
	align-items: center;
	padding: 6px 12px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.navitemcontainer {
	display: none;
}
.profileBtn {
	display: none;
}

.right {
	display: flex;
	justify-content: flex-end;
}


@media (min-width: 640px) {
	.navitemcontainer {
		display: flex;
		gap: 16px;
		justify-content: flex-end;
		align-items: center;
		justify-content: center;
	}
	.profileBtn {
		display: flex;
		justify-content: flex-end;
	}
	.mainNavbar {
		display: flex;
		justify-content: space-between;
	}
}
