.cardContent {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.heads {
	display: flex;
	justify-content: space-between;
}

.button {
	display: none;
}
.smButton {
	display: block;
}

.handleGridDown {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.LeftSide {
	min-width: max-content;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 32px;
	transition: 500ms;
}

.avatar {
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 25px;
}

.aside {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	transition: 500ms;
}

/* md */
@media (min-width: 640px) {
	.cardContent {
		justify-content: center;
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 32px;
	}
	.handleGridDown {
		justify-content: center;
		display: flex;
	}
	.smButton {
		display: none;
	}
	.button {
		display: block;
	}

	.LeftSide {
		min-width: max-content;
		width: 100%;
		display: grid;
		gap: 0px;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.avatar {
		width: 160px;
		height: 160px;
		overflow: hidden;
		border-radius: 25px;
	}

	.aside {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

/* lg */
@media (min-width: 1024px) {
	.cardContent {
		justify-content: center;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 12px;
	}

	.handleGridDown {
		justify-content: center;
		display: flex;
	}

	.LeftSide {
		min-width: max-content;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 0px;
	}

	.avatar {
		width: 160px;
		height: 160px;
		overflow: hidden;
		border-radius: 25px;
	}

	.aside {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}