.option {
	display: flex;
	gap: 16px;
	align-items: start;
}

.option::hover {
	background-color: antiquewhite;
}

.optionlabel {
	margin-right: 12px;
	border: 1px solid var(--ion-color-dark);
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 32px;
	margin-top: 14px;
	border-radius: 4px;
}

.numberButton {
	width: 36px;
	height: 36px;
}

.bold {
	font-weight: 400;
	font-size: 14px;
	width: 100%;
}

.buttons {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 12px;
}

/* md */
@media (min-width: 768px) {
	.bold {
		font-weight: 400;
		font-size: 14px;
		width: 300px;
	}
}
/* lg */
@media (min-width: 1024px) {
  
.bold {
	font-weight: 400;
	font-size: 14px;
  width: 300px;
}
}
