
.main{
  display:flex;
  width: 100%;
  padding:64px 128px;
  justify-content: space-between;
  align-items: center;
}

.heroContent{
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 12px;

}

.heading{
  color: rgb(160, 141, 255);
  font-size: 72px;
  font-weight: 500;
  min-width: max-content;
  line-height:82px;

}

.buttons{
  font-family: Poppins;
  color: white;
  text-transform: none;
  font-weight: 200;
  font-size: 36px;
  padding:6px 12px;
}

.heroImages{
  width: 720px;
}