.cube {
	margin: 0 50px 0 50px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	background-color: rgb(125, 100, 255);
	padding: 16px;
	color: white;
}

.images {
	width: 60%;
	padding-right: 60px;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 48%;
}

.textTitle {
	font-size: 68px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	text-align: justify;
	/* text-shadow: 0 3px 4px rgba(0, 0, 0, 0.8); */
}
.textcontent {
	font-size: 17px;
	text-align: justify;
}

@media (max-width: 640px) {
	.cube {
		margin: 0 10px 0 10px;
		border-radius: 10px;
		padding: 20px;
		color: white;
		flex-direction: column;
		align-items: center;
	}
	.images {
		width: 60%;
		padding-right: 0;
	}
	.text {
		max-width: 80%;
	}

	.textTitle {
		font-size: 48px;
	}
	.textcontent {
		font-size: 17px;
	}
}
@media (max-width: 1024px) {
	.images {
		display: none;
	}
	.text {
		max-width: none;
	}
}
