.cube {
    margin: 0 50px 0 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(125, 100, 255);
    padding: 50px 128px 50px;
    color: white;
}

.images {
    width: 60%;
    padding-right: 60px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 48%;
}

.textTitle {
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: justify;
    /* text-shadow: 0 3px 4px rgba(0, 0, 0, 0.8); */
}
.textcontent {
    font-size: 17px;
    text-align: justify;
}
