

.col{
	display:flex;
	flex-direction: column;
}

.cardsRow3 {
	display: grid;
	grid-auto-columns: max-content;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.cardsRow2 {
	padding: 0;
	display: grid;
	grid-auto-columns: max-content;
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.cardFooter {
	padding: 16px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.01);
	transition: 200ms;
	font-size: 16px;
	font-weight: 300;
	-webkit-user-select: none;
	user-select: none;
	text-decoration: none;
}
.cardFooter:hover {
	background-color: rgba(255, 255, 255, 0.03);
}

@media (min-width: 640px) {
	.cardsRow3 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.cardsRow2{
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

/* lg */
@media (min-width: 1024px) {
	.cardsRow3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
