.main{
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:64px 128px;
  gap:24px;
}

.textCtn{
  display: flex;
  flex-direction: column;
}

.text{
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.27) 1px 1px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size:32px;
}
