.settingGrid {
	display: flex;
}

.avatarContent{
  display: flex;
  min-width: 320px;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.avatar {
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
}
