
.Group {
  max-height: 160px;
  overflow-y: scroll;
}
.ItemContent{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.date{
  font-size: 12px;
}

.Group::-webkit-scrollbar {
  width: 6px; 
}
.Group::-webkit-scrollbar-thumb {
  background-color: #a08dffc4; 
  border-radius: 6px; 
}
.Group::-webkit-scrollbar-thumb:hover {
  background: #a492ff;
  transition: 200ms;
}