.ionCard {
	display: flex;
	flex-direction: column;
    max-width: 340px;
}

.img {
	width: 100%;
	height: 320px;
	object-fit: cover;
    object-position: top;
}

.contentCtn {
	padding: 12px;
}

.name {
	font-size: 18px;
    line-height: 20px;
    height: 40px;
}

.subtitle {
	font-size: 12px;
}

.sectionContent {
	font-size: 12px;
    line-height: 16px;
    height: calc(16px * 4);
}

/* md */
@media (min-width: 768px) {
    .img {
	width: 100%;
	height: 400px;
	object-fit: cover;
    object-position: top;
}

}
/* lg */
@media (min-width: 1024px) {
    .img {
	width: 100%;
	height: 480px;
	object-fit: cover;
    object-position: top;
}
}
